{
  "singleQuote": true,
  "arrowParens": "avoid",
  "semi": false,
  "printWidth": 100,
  "plugins": [
    "prettier-plugin-svelte",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "importOrder": ["^\\$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindStylesheet": "./src/app.css"
}
